/*ContentPreview*/
.contentSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem 4rem;
  min-height: 50vh;
  background-color: var(--col-white-03);
}
.contentSection h1 {
  margin: 0 auto;
}
.contentBox {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  max-height: 90vh;
}
.blogPreviewBox {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 67%;
}
.socmedPreviewBox {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 33%;
  background-color: var(--col-white-primary);
  border-radius: 5px;
  box-shadow: 0 0 10px 1px var(--col-white-01);
  padding: 1rem 2rem;
}

/*BlogCard*/
.cardBoxPreview,
.seeMoreBtn {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px var(--col-white-01);
  background-color: var(--col-white-primary);
}
.cardBoxPreview:hover {
  background-color: var(--col-white-03);
  transition: var(--trans-02);
}
.blogDetailsPreview {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 85%;
  margin: 1rem 0 1rem 2rem;
}
.blogTitle {
  text-decoration: none;
}
.blogDescription {
  height: 3rem;
}
.blogImagePreview {
  width: 15%;
}
.blogInfo {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.blogInfo span {
  min-width: 10rem;
}
.seeMoreBtn {
  justify-content: center;
  padding: 0.5rem 0;
  cursor: pointer;
  background-color: var(--col-navy-dark);
  color: var(--col-white-03);
}
.seeMoreBtn:hover {
  opacity: 90%;
  transition: var(--trans-02);
}

/*SocmedCard*/
.socmedNav button {
  width: calc(100% / 3);
  padding: 0.4rem 0;
  background-color: var(--col-white-primary);
  border: none;
  border-radius: 3px;
}
.socmedNav button:hover {
  background-color: var(--col-white-03);
  transition: var(--trans-02);
}
.socmedNav button.active {
  background-color: var(--col-navy-dark);
  color: var(--col-white-03);
  font-weight: 600;
}
.socmedPreview {
  border-right: 0.5px solid var(--col-white-01);
  border-left: 0.5px solid var(--col-white-01);
  height: 100%;
  width: auto;
  overflow-y: scroll;
}
.socmedContent {
  height: 200vh;
  width: 100%;
  background-color: var(--col-white-02);
}
