@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto:ital,wght@0,300;1,300&display=swap");
:root {
  --col-white: white;
  --col-black: black;
  --col-lg-gray: rgb(220, 220, 220);
  --col-aqua: #00d8eb;
  --col-dkblue: #0a1d24;
  --col-oceanblue: #2d31fa;
  --col-greyishblue: #5d8bf4;
  --col-pink: #dff6ff;
  --col-dkblue-2: #1e3c46;
  /*fonts*/
  --font-fm-roboto: "Roboto", sans-serif;
  --font-oswald: "oswald", sans-serif;
  --font-parisienne: "Parisienne", cursive;
  --font-cl-black: black;
}
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--font-fm-roboto);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
section {
  min-height: 25rem;
  width: 100%;
  padding: 2rem 0;
  top: 38px;
}
/*Scrollbar*/
::-webkit-scrollbar {
  width: 7px;
  margin-right: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--col-lg-gray);
  border-radius: 10px;
}
/*End Scrollbar*/
/*Home Navbar*/
.nav-container {
  display: flex;
  position: fixed;
  top: 0;
  width: calc(100vw - 8rem);
  justify-content: space-between;
  padding: 5px 4rem;
  box-shadow: 0 5px 10px 1px var(--col-lg-gray);
  background-color: var(--col-dkblue);
  z-index: 10;
}
.nav-container h1 {
  font-size: 1.4rem;
  font-family: var(--font-parisienne);
  color: var(--col-white);
}
.nav-container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: -5px 0;
  list-style: none;
}
.nav-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 100%;
  border-radius: 5%;
}
.nav-container ul li:hover {
  background-color: var(--col-dkblue-2);
  transition: all 0.3s ease;
}
.nav-container ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--col-white);
}
/*End Home Navbar*/

/*Home Profile Section*/
section#profile {
  display: flex;
  position: relative;
  padding: 0;
  height: 25rem;
  width: 100%;
  background-image: url("img/banner-cloud.jpg");
  background-size: cover;
  background-position-y: center;
  z-index: 1;
  /* visibility: hidden; */
}
.bg-black {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--col-dkblue);
  opacity: 0.6;
}
.profile-content {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 50px;
  width: calc(100% - 100px);
  height: calc(100% - 40px);
  z-index: 3;
}

.profile-content img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px 5px var(--col-dkblue);
}
.profile-desc {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 60%;
  min-height: 50%;
}
.profile-desc h2,
.profile-desc h3 {
  color: var(--col-lg-gray);
  margin-bottom: 5px;
}
.profile-desc h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.socmed-btn {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}
.socmed-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 4px 5px;
  width: calc(50% - 20px);
  color: var(--col-lg-gray);
  white-space: nowrap;
  font-size: 1rem;
}

.socmed-btn a svg {
  height: 20px;
  width: auto;
  margin-right: 7px;
}
/*End Home Profile Section*/

/*Skill Section*/
section#skill {
  position: relative;
}
.skill-sec h2 {
  text-align: center;
  width: 400px;
  margin: auto;
}
.skill-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 35px;
  width: calc(100% - 70px);
  flex-wrap: wrap;
}
.skill-container figure {
  padding: 2rem 3rem;
  margin: 5px;
  width: 18rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px var(--col-lg-gray);
}
.main-icon {
  height: 6rem;
}
.skill-container figure figcaption {
  margin-top: 5px;
}
.skill-container figure figcaption h3 {
  margin-bottom: 10px;
}
.skill-container figure figcaption p {
  height: 5rem;
}
.stack-icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  border-radius: 7px;
}
.stack-icon:hover {
  box-shadow: 0 0 5px 1px var(--col-oceanblue);
  transition: all 0.5s ease;
}
.secondary-icon {
  height: 3rem;
  margin: 5px 7px;
}
/*End Skill Section*/
