/*Skill Section*/
.skill {
  position: relative;
}
.skill h2 {
  text-align: center;
  margin: 10px auto;
  width: 400px;
  font-family: var(--font-oswald);
}
.skillContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 95%;
  flex-wrap: wrap;
}
.skillContainer figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1.5rem 3rem;
  flex-shrink: 0;
  margin: 5px;
  width: 25rem;
  background-color: var(--col-white);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px var(--col-lg-gray);
}

.mainThumbnail {
  height: 10rem;
  width: 100%;
  object-fit: contain;
}
.skillContainer figure figcaption {
  margin-top: 5px;
  width: 100%;
}
.skillContainer figure figcaption h3 {
  margin-bottom: 10px;
}
.skillContainer figure figcaption p {
  height: 7rem;
}
.skillContainer figure button {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  width: 10rem;
  border: none;
  background-color: var(--col-aqua);
  color: white;
  border-radius: 5%;
  font-weight: 700;
}
/*End Skill Section*/

@media screen and (max-width: 600px) {
  .skillContainer figure {
    width: 24rem;
  }
}
